body {
	background: midnightblue;
}
h1, h2, h3, h4, h5, a {
	color:#ffffff;
}
td {
    color:#ffffff;
}

th{
    color:#000000;
}
.urs-container {
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 25px;
	background-color: #4C4C4C;
	border-radius: 25px;
}
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
    img {
		width:75px;
	}
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    img {
		width:115px;
	}
}

.rate_widget {
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     45px;
}
.ratings_stars {
    background: url('../images/star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('../images/star_full.png') no-repeat;
}
.ratings_over {
    background: url('../images/star_highlight.png') no-repeat;
}
